In [1]:
import pandas as pd
from datetime import datetime 
auction = pd.read_csv("data/auction.csv")
brand = pd.read_csv("data/brand.csv")
category = pd.read_csv("data/category.csv")
danjobetsu = pd.read_csv("data/danjobetsu.csv")
genre = pd.read_csv("data/genre.csv")
genregroup = pd.read_csv("data/genregroup.csv")
itemshou = pd.read_csv("data/itemshou.csv")
kaiin = pd.read_csv("data/kaiin.csv")
line = pd.read_csv("data/line.csv")
nyuukaoshirase = pd.read_csv("data/nyuuka_oshirase.csv")
rakusatsu = pd.read_csv("data/rakusatsu.csv")
# search_log=pd.read_csv("data/search_log.tsv")
shudounyuusatsu = pd.read_csv("data/shudounyuusatsu.csv")
watchlist = pd.read_csv("data/watchlist.csv")

submission = pd.read_csv("data/sample_submission.csv")
submission = submission.KaiinID.unique()
submission = pd.DataFrame([list(submission)], index=["KaiinID"]).T

auction["CreateDateOrder"] = auction.CreateDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')

watchlist["TourokuDateOrder"] = watchlist.TourokuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
watchlist = pd.merge(watchlist, auction, on="AuctionID")

shudounyuusatsu["ShudouNyuusatsuDateOrder"] = shudounyuusatsu.ShudouNyuusatsuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
shudounyuusatsu = pd.merge(shudounyuusatsu, auction, on='AuctionID')
order = -7

shudounyuusatsu["Point"] = 1/(order-shudounyuusatsu.CreateDateOrder.map(lambda x: x.days))**0.5/(
    order-shudounyuusatsu.ShudouNyuusatsuDateOrder.map(lambda x: x.days))
watchlist["Point"] = 4/(order-watchlist.CreateDateOrder.map(lambda x: x.days)
                        )**0.5/(order-watchlist.TourokuDateOrder.map(lambda x: x.days))

predict = pd.concat([shudounyuusatsu[["KaiinID", "AuctionID", "Point"]],
                     watchlist[watchlist.SakujoFlag == 1][["KaiinID", "AuctionID", "Point"]]])

predict = predict.groupby(["KaiinID", "AuctionID"]).max()
predict = predict.reset_index()
predict = pd.merge(submission, predict, how="left")
predict = predict.sort_values(
    ["Point", "KaiinID", "AuctionID"], ascending=[False, True, True])

kari = auction[auction.CreateDateOrder.map(
    lambda x:x.days) == order-5].sample(n=20, random_state=0)
addtionaltable = kari["AuctionID"]

num=predict.KaiinID.unique()


for i in range(len(num)):
    
    addtionaltable=pd.DataFrame({"KaiinID":pd.Series([num[i]]*20),"AuctionID":kari["AuctionID"].reset_index(drop=True),"Point":pd.Series([0]*20)})
    
    df1=pd.concat([pd.concat([predict[predict.KaiinID==num[i]],addtionaltable]).reset_index(drop=True)[["KaiinID","AuctionID"]],
           pd.concat([predict[predict.KaiinID==num[i]],addtionaltable]).Point.rank(method='first',ascending=False).reset_index(drop=True)],axis=1)
# .rank(method='first',ascending=False).Point
    if i==0:
        df=df1[(0<df1.Point)&(df1.Point<21)]
    else:
        df=pd.concat([df,df1[(0<df1.Point)&(df1.Point<21)]])
    if i%100==0:
        print(str(i)+"回目")
df[["KaiinID","AuctionID"]].to_csv("submission.csv",index = False)

0回目
100回目
200回目
300回目
400回目
500回目
600回目
700回目
800回目
900回目
1000回目
1100回目
1200回目
1300回目
1400回目
1500回目
1600回目
1700回目
1800回目
1900回目
2000回目
2100回目
2200回目
2300回目
2400回目
2500回目
2600回目
2700回目
2800回目
2900回目
3000回目
3100回目
3200回目
3300回目
3400回目
3500回目
3600回目
3700回目
3800回目
3900回目
4000回目
4100回目
4200回目
4300回目
4400回目
4500回目
4600回目
4700回目
4800回目
4900回目
5000回目
5100回目
5200回目
5300回目
5400回目
5500回目
5600回目
5700回目
5800回目
5900回目
6000回目

In [33]:
import pandas as pd
from datetime import datetime 
auction = pd.read_csv("data/auction.csv")
brand = pd.read_csv("data/brand.csv")
category = pd.read_csv("data/category.csv")
danjobetsu = pd.read_csv("data/danjobetsu.csv")
genre = pd.read_csv("data/genre.csv")
genregroup = pd.read_csv("data/genregroup.csv")
itemshou = pd.read_csv("data/itemshou.csv")
kaiin = pd.read_csv("data/kaiin.csv")
line = pd.read_csv("data/line.csv")
nyuukaoshirase = pd.read_csv("data/nyuuka_oshirase.csv")
rakusatsu = pd.read_csv("data/rakusatsu.csv")
# search_log=pd.read_csv("data/search_log.tsv")
shudounyuusatsu = pd.read_csv("data/shudounyuusatsu.csv")
watchlist = pd.read_csv("data/watchlist.csv")

submission = pd.read_csv("data/sample_submission.csv")
submission = submission.KaiinID.unique()
submission = pd.DataFrame([list(submission)], index=["KaiinID"]).T

auction["CreateDateOrder"] = auction.CreateDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
auction["CreateDateOrder"]=auction.CreateDateOrder.map(lambda x:x.days).map(int)
watchlist["TourokuDateOrder"] = watchlist.TourokuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
watchlist["TourokuDateOrder"]=watchlist["TourokuDateOrder"].map(lambda x:x.days).map(int)
watchlist = pd.merge(watchlist, auction, on="AuctionID")

shudounyuusatsu["ShudouNyuusatsuDateOrder"] = shudounyuusatsu.ShudouNyuusatsuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
shudounyuusatsu["ShudouNyuusatsuDateOrder"]=shudounyuusatsu["ShudouNyuusatsuDateOrder"].map(lambda x:x.days).map(int)
shudounyuusatsu = pd.merge(shudounyuusatsu, auction, on='AuctionID')

rakusatsu["RakusatsuDateOrder"]=rakusatsu.RakusatsuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
rakusatsu["RakusatsuDateOrder"]=rakusatsu["RakusatsuDateOrder"].map(lambda x:x.days).map(int)
rakusatsu = pd.merge(rakusatsu,submission, on='KaiinID')


inputdateorder = -7

AttributeError: 'DataFrame' object has no attribute 'CreateDateteDateOrder'

In [34]:
auction["CreateDateOrder"]=auction.CreateDateOrder.map(lambda x:x.days).map(int)
watchlist["TourokuDateOrder"] = watchlist.TourokuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
watchlist["TourokuDateOrder"]=watchlist["TourokuDateOrder"].map(lambda x:x.days).map(int)
watchlist = pd.merge(watchlist, auction, on="AuctionID")

shudounyuusatsu["ShudouNyuusatsuDateOrder"] = shudounyuusatsu.ShudouNyuusatsuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
shudounyuusatsu["ShudouNyuusatsuDateOrder"]=shudounyuusatsu["ShudouNyuusatsuDateOrder"].map(lambda x:x.days).map(int)
shudounyuusatsu = pd.merge(shudounyuusatsu, auction, on='AuctionID')

rakusatsu["RakusatsuDateOrder"]=rakusatsu.RakusatsuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
rakusatsu["RakusatsuDateOrder"]=rakusatsu["RakusatsuDateOrder"].map(lambda x:x.days).map(int)
rakusatsu = pd.merge(rakusatsu,submission, on='KaiinID')


inputdateorder = -7

In [39]:
rakusatsu["RakusatsuDateOrder"] = rakusatsu.RakusatsuDate.map(lambda x: x[0:10]).map(
    lambda x: datetime.strptime(x, '%Y-%m-%d'))-datetime.strptime('2019-10-01', '%Y-%m-%d')
rakusatsu = pd.merge(rakusatsu, submission, on='KaiinID')
rakusatsu = pd.merge(rakusatsu, auction, on='AuctionID')

In [40]:
dateorder = -7
inputdateorder= dateorder-7*i

In [41]:
# def createfeature(submission,watchlist,shudounyuusatsu,rakusatsu,inputdataorder):
rakusatsu

,AuctionID,KaiinID,RakusatsuDate,Kingaku,Suuryou,SakujoFlag,RakusatsuDateOrder,ShouhinShubetsuID,ShouhinID,SaishuppinKaisuu,ConditionID,BrandID,GenreID,GenreGroupID,LineID,ColorID,DanjobetsuID,SankouKakaku,CreateDate,CreateDateOrder
0,3744587,227198,2018-09-01 21:50:00,18000,1,0,-395 days,1,447355,0,6,26,321,312,0,0,0,10000,2018-08-31 10:25:06,-396
1,2413186,227198,2018-09-01 21:31:00,26700,1,0,-395 days,1,2818292,0,6,26,341,312,0,0,0,18700,2018-08-31 10:25:42,-396
2,1726732,227198,2018-09-01 22:27:00,9750,1,0,-395 days,1,2435157,0,6,114,342,312,5,0,0,5000,2018-08-31 10:26:58,-396
3,768588,227198,2018-09-01 22:33:00,7500,1,0,-395 days,1,509447,0,9,26,328,312,0,0,0,3000,2018-08-31 10:27:39,-396
4,1358728,227198,2018-09-01 23:09:07,16500,1,0,-395 days,1,719514,0,7,25,321,312,0,260,0,10000,2018-08-29 09:46:45,-398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264835,3600238,91901,2019-09-23 22:40:39,16434,1,0,-8 days,1,1115154,0,6,8086,167,167,0,131,1,15000,2019-09-14 09:31:46,-17
264836,456021,120229,2019-09-23 23:15:26,4553,1,0,-8 days,1,2905390,0,6,117,334,314,0,15,0,7000,2019-09-02 09:35:11,-29
264837,2007419,47024,2019-09-23 23:25:29,4292,1,0,-8 days,1,1906868,0,6,1607,320,312,0,297,0,2500,2019-08-22 09:33:17,-40
264838,4036616,76219,2019-09-23 23:31:11,17514,1,0,-8 days,1,338053,0,8,63,331,312,0,0,0,18000,2019-08-30 09:36:36,-32
264839,18237,242925,2019-09-23 23:58:14,4562,1,0,-8 days,1,394607,0,6,1586,25,35,0,15,2,2500,2019-08-01 09:36:25,-61

In [42]:
df=pd.concat([watchlist[["KaiinID","ShouhinID"]],rakusatsu[["KaiinID","ShouhinID"]]] )
df=df[df.duplicated()!=True]
df

        KaiinID  ShouhinID
0        231713    1789151
1        184107    1789151
2        225585    1866859
3        110716    1866859
4        208873    1866859
...         ...        ...
264812    40997    1902803
264813    40997     591671
264814    40997    1965157
264815    40997     422677
264837    47024    1906868

[4056442 rows x 2 columns]

In [43]:
df=pd.merge(df, auction[["AuctionID","ShouhinID"]], on='ShouhinID')

         KaiinID  ShouhinID  AuctionID
0         231713    1789151    1036190
1         184107    1789151    1036190
2         225585    1866859    4043640
3         110716    1866859    4043640
4         208873    1866859    4043640
...          ...        ...        ...
5754284    21643    1724601     125984
5754285    15091    2645288    1119392
5754286    15091    2645288    1668393
5754287    15091    2645288     786830
5754288    47024    1906868    2007419

[5754289 rows x 3 columns]

In [44]:
df=df[df.duplicated()!=True]
df

         KaiinID  ShouhinID  AuctionID
0         231713    1789151    1036190
1         184107    1789151    1036190
2         225585    1866859    4043640
3         110716    1866859    4043640
4         208873    1866859    4043640
...          ...        ...        ...
5754284    21643    1724601     125984
5754285    15091    2645288    1119392
5754286    15091    2645288    1668393
5754287    15091    2645288     786830
5754288    47024    1906868    2007419

[5754289 rows x 3 columns]

0          -66 days
1          -66 days
2          -66 days
3          -66 days
4          -66 days
             ...
4109554   -329 days
4109555   -329 days
4109556   -329 days
4109557   -329 days
4109558   -329 days
Name: CreateDateOrder, Length: 4109559, dtype: timedelta64[ns]

In [46]:
auction

,AuctionID,ShouhinShubetsuID,ShouhinID,SaishuppinKaisuu,ConditionID,BrandID,GenreID,GenreGroupID,LineID,ColorID,DanjobetsuID,SankouKakaku,CreateDate,CreateDateOrder
0,4066465,1,620477,334,6,494,321,312,0,15,0,4000,2019-07-27 09:31:34,52
1,622037,1,1146271,0,6,32,321,312,0,304,0,4500,2019-07-27 09:31:34,52
2,3447030,1,1069454,0,6,30,320,312,0,338,0,3000,2019-07-27 09:31:34,52
3,957658,1,661292,0,6,30,321,312,0,188,0,3500,2019-07-27 09:31:34,52
4,2496085,1,2207903,0,6,569,6,314,0,0,0,8000,2019-07-27 09:31:34,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109554,91078,1,2369558,0,7,41,16,16,0,0,0,3000,2018-11-06 09:43:21,315
4109555,4089381,1,1147062,0,7,3471,321,312,0,0,0,10000,2018-11-06 09:43:21,315
4109556,2655736,1,688258,0,6,569,341,312,0,290,0,16000,2018-11-06 09:43:21,315
4109557,1889335,1,1289629,0,4,569,341,312,0,0,0,6000,2018-11-06 09:43:21,315
4109558,1213270,1,2225306,0,4,1927,321,312,0,0,0,1200,2018-11-06 09:43:21,315

In [48]:
auction['CreateDateOrder']=inputdateorder-auction['CreateDateOrder']
df=pd.merge(df,auction[["AuctionID","ShouhinShubetsuID","ShouhinID","SaishuppinKaisuu","ConditionID","BrandID","GenreID","GenreGroupID","LineID","ColorID","DanjobetsuID",]],on="AuctionID")

In [50]:
watchlist

,KaiinID,AuctionID,TourokuDate,SakujoFlag,TourokuDateOrder,ShouhinShubetsuID,ShouhinID,SaishuppinKaisuu,ConditionID,BrandID,GenreID,GenreGroupID,LineID,ColorID,DanjobetsuID,SankouKakaku,CreateDate,CreateDateOrder
0,231713,1036190,2018-09-01 00:00:16,1,-395,1,1789151,0,6,116,10,10,0,15,0,6000,2018-07-04 09:42:29,-454
1,184107,1036190,2018-09-11 20:26:07,1,-385,1,1789151,0,6,116,10,10,0,15,0,6000,2018-07-04 09:42:29,-454
2,225585,4043640,2018-09-01 00:00:34,1,-395,1,1866859,0,8,1080,33,33,0,315,2,4000,2018-02-22 09:55:30,-586
3,110716,4043640,2018-09-01 18:40:30,1,-395,1,1866859,0,8,1080,33,33,0,315,2,4000,2018-02-22 09:55:30,-586
4,208873,4043640,2018-09-14 21:18:39,1,-382,1,1866859,0,8,1080,33,33,0,315,2,4000,2018-02-22 09:55:30,-586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4165150,59603,3547834,2018-11-30 23:50:16,1,-305,1,358450,0,6,25,10,10,0,0,0,5500,2018-11-30 09:31:45,-305
4165151,253021,3207780,2018-11-30 23:52:56,1,-305,1,1883405,0,6,83,30,30,0,15,0,3500,2018-06-28 09:49:24,-460
4165152,56363,1375115,2018-11-30 23:53:05,1,-305,1,1185024,0,5,83,6,314,0,338,0,1200,2018-11-09 09:44:52,-326
4165153,104751,1054637,2018-11-30 23:56:11,1,-305,1,884621,0,5,929,340,35,0,15,2,3000,2018-11-15 09:40:32,-320
4165154,56363,259347,2018-11-30 23:59:08,1,-305,1,2762772,0,6,10,321,312,0,315,0,16000,2018-11-30 09:32:59,-305